<h2>Categories</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" class="text-right">Count</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <th scope="row">
          <%= link_to category.name, category %>
        </th>
        <td class="text-right">
          <%= category.articles.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
