<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="cotainer text-center">
    <small>
      Copyright &copy; 
      <%= link_to "ezequias2d", "https://github.com/ezequias2d", class: "text-white" %>
    </small>
  </div>
</footer>
